<div class="container-fluid">

  <div class="row">

    <ng-container *ngFor="let card of cards">
      <div class="col-xl-3 col-md-6 mb-4" (click)="onCardSelect(card.name)">
        <div class="card shadow h-100 py-2" [ngClass]="card.borderColor">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1" [ngClass]="card.textColor">{{card.name}}</div>
              </div>
              <div class="col-auto">
                <img [src]="card.img" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>
