<ul class="d-none d-sm-inline-block w-16em p-4 navbar-nav  sidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">

    </div>
    <div class="mx-3">Admin</div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Employee List -->
  <li class="nav-item" (click)="menuSelected('Employee List')">
    <a class="nav-link collapsed" href="#" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <span>Employee List</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Add Employee -->
  <li class="nav-item" (click)="menuSelected('Add Employee')">
    <a class="nav-link collapsed" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <span>Add Employee </span>
    </a>
  </li>
</ul>
